@import url('https://fonts.googleapis.com/css2?family=Andada+Pro:ital,wght@1,800&family=Roboto&display=swap');

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100vw;
	font-family: 'Roboto', sans-serif;
}

header {
	position: fixed;
	background-color: #2F2F2F;
	height: 10vh;
	width: 100%;
	top: 0;
	z-index: 1;
}

nav {
	max-width: 75vw;
	margin: auto;
	display: flex;
	justify-content: space-between;
}

.nav {
	display: flex;
	justify-content: center;
}

.left-nav {
	color: white;
}

nav > div > h1 {
	font-size: 2.5rem;
	font-family: 'Andada Pro', serif;
	margin:auto;
}

nav > div > i {
	margin: auto;
	margin-left: 1rem;
	font-size: 2rem;
	color: lightgrey;
	transform: rotate(-20deg);
}

nav > ul > li {
	list-style: none;
	padding: .75rem;
	font-size: 1.25rem;
}

nav > ul > li > a {
	text-decoration: none;
	color: lightgrey;
}

nav > ul > li > a:hover {
	color: white; 
	border-top: white 5px solid;
	padding-top: 1.4rem;
}

.active {
	color: white; 
	border-top: white 5px solid;
	padding-top: 1.4rem;
}

nav > ul > p {
	padding: 7px;
	color: white;
	border: 3px white solid;
	font-family: 'Andada Pro', serif;
	margin:auto;
	margin-left: .5rem;
}

.container {
	max-width: 75vw;
}

.flex {
	display: flex;
	align-items: center;
	justify-content: center;
}

#about {
	width: 100vw; 
	height: 100vh;
	background-color: black;
	padding-top: 10vh;
	color: white;
}

.container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 100px;
}

.text {
	font-size: 4rem;
	font-family: 'Andada Pro', serif;
	text-align: center;
	margin: auto;
}

.about-text {
	line-height: 120px;
	font-family: 'Andada Pro', serif;
	font-size: 4rem;
}

.about-pic {
	max-width: 100%;
	height: auto;
}

#prices {
	width: 100%;  
	height: 100vh;
	background-color: white;
	text-align: center;
	font-size: 2.5rem;
}

.prices-container {
	padding-top: 1vh;
	display: grid;
	grid-template-columns: .4fr .3fr;
	font-family: 'Andada Pro', serif;
	justify-content: center;
	text-align: center;
}

.prices-left {
	text-align: left;
	margin: auto;
}

.prices-header {
	padding-top: 10vh;
	border-bottom: 5px black solid;
	max-width: 47rem;
	margin: auto;
}

#barbers {
	width: 100%;  
	height: 100vh;
	background-color: black;
	color: white;
}

.barbers-header {
	border: 5px solid white;
}

.barbers-text {
	text-indent: 60px;
	text-align: left;
}

.barber-imgs {
	display: grid;
	grid-template-columns: 1fr 1fr; 
	grid-template-rows: 1fr 1fr;
	grid-gap: 100px;
	grid-row-gap: 10px;
	height: 25rem;
	width: 25rem;
	margin: auto;
	margin-top: 2rem;
}

.barber-img {
	max-width: 100%;
	height: auto;
	margin: auto;
	border-radius: 20px;
}

.barber-content {
	font-size: 20px;
	font-family: 'Roboto', serif;
	text-align: center;
}

#contact {
	width: 100%; 
	height: 100vh;
	background-color: white;
}

.text2 {
	font-family: 'Roboto', serif;
	font-size: 2rem;
	line-height: 60px;
	text-align: center;
}

.contact-info {
	text-align: left;
	margin: auto;
	font-size: 1.7rem;
	line-height: 70px;
}

a {
	text-decoration: none;
}

.social {
	font-size: 2rem;
	color: white;
	padding: .5rem;
	margin: .5rem;
	background-color: #2F2F2F;
	border-radius: 50px;
}

.social:hover {
	background-color: grey;
}

.map {
	width: 600px;
	height: 450px;
	border:0;
}

@media only screen and (max-width: 1200px) {

.active {
	color: lightgrey; 
	border-top: none;
	padding-top: 0rem;
}

nav > div > h1 {
	font-size: 1.6rem;
	margin: auto;
}

.text {
	font-size: 2rem;
}

nav > ul > p {
	padding: 0px;
	font-size: 0rem;
	border: none;
}

.barbers-header {
	border: 3px solid white;
}

.barber-imgs {
	margin: auto;
	grid-gap: 10px;
}

.barber-img {
	max-width: 60%;
}

.barber-content {
	font-size: 16px;
}

.text2 {
	font-size: 1.3rem;
	line-height: 40px;
}

#contact {
	width: 100%; 
	height: 100vh;
	background-color: white;
}

.media-container {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr;
	grid-row-gap: 50px;
}

.contact-info {
	text-align: left;
	margin: auto;
	font-size: 1.8rem;
	line-height: 60px;
}

.social {
	font-size: 1.5rem;
}

.map {
	width: 400px;
	height: 300px;
	margin: auto;
}

}

@media only screen and (max-width: 770px) {

header {
	position: fixed;
	max-width: 100vw;
	background-color: #2F2F2F;
	height: 12vh;
	width: 100%;
	top: 0;
	z-index: 1;
}

 nav {
 	max-width: 85vw;
 	width: 100%;
  	display: flex;
  	flex-direction: column;
  	text-align: center;
  }

  .nav {
  	margin: auto;
  	margin-top: .2rem;
  	width: 100%;
  }

 nav > div > h1 {
	font-size: 1.3rem;
	font-family: 'Andada Pro', serif;
	margin: auto;
	margin-top: .5rem;
	}
	
nav > div > i {
	font-size: 0rem;
	margin: 0;
	margin-left: 0rem;
}

nav > ul > p {
	padding: 0px;
	font-size: 0rem;
	border: none;
}

nav > ul {
	margin: auto;
}

nav > ul > li{
	margin: auto;
}

nav > ul > li > a:hover {
	color: none; 
	border-top: none;
	padding-top: 0rem;
}

.active {
	color: lightgrey; 
	border-top: none;
	padding-top: 0rem;
}

#about {
	width: 100vw; 
	height: 100vh;
	background-color: black;
	padding-top: 0vh;
	color: white;
}

.container {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr;
}

.text {
	font-size: 2rem;
	line-height: 70px;
	font-family: 'Andada Pro', serif;
	text-align: center;
	margin: auto;
}

.about-pic {
	max-width: 60%;
	height: auto;
	margin: auto;
}

#prices {
	font-size: 1rem;
}

.prices-header {
	padding-top: 10vh;
	border-bottom: 5px black solid;
	max-width: 20rem;
	margin: auto;
	font-size: 2rem;
}

.barbers-header {
	border: 3px solid white;
}

.barber-imgs {
	margin-top: -2rem;
}

.barber-img {
	max-width: 50%;
}

.barber-content {
	font-size: 12px;
}

.text2 {
	font-size: 1rem;
	line-height: 40px;
}

#contact {
	width: 100%; 
	height: 100vh;
	background-color: white;
}

.contact-info {
	text-align: left;
	margin: auto;
	font-size: 1.3rem;
	line-height: 60px;
}

.social {
	font-size: 1.5rem;
}

.map {
	width: 400px;
	height: 300px;
	margin: auto;
}
}

@media only screen and (max-width: 450px) {

header {
	position: relative;
}

nav > div > i {
	font-size: 0rem;
	margin: 0;
	margin-left: 0rem;
}

#barbers {
	width: 100%;  
	height: 100vh;
	background-color: black;
	color: white;
}

.barbers-header {
	border: 3px solid white;
	max-width: 280px;
}

.barber-imgs {
	max-width: 280px;
	grid-gap: 0px;
	grid-row-gap: 0px;
	height: 10rem;
	width: 20rem;
	margin: auto;
	margin-top: 0rem;
}

.barber-img {
	max-width: 30%;
}

.barber-content {
	font-size: 12px;
}

.text2 {
	font-size: .7rem;
	line-height: 40px;
}

#contact {
	max-width: 320px;
	width: 100%; 
	height: 100vh;
	background-color: white;
	margin: auto;
}

.contact-info {
	text-align: left;
	margin: auto;
	font-size: 1.3rem;
	line-height: 60px;
}

.social {
	font-size: 1.5rem;
}

.map {
	width: 300px;
	height: 200px;
	margin: auto;
}
}